@import 'styles/color.scss';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;

  .p_link {
    font-weight: 800;
    font-size: 20px;
    line-height: 200%;
    color: $font-color;
  }
}
