@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper {
  width: 90%;
  min-height: 100px;
  border-radius: 10px;
  margin-top: 30px;
  padding: 0px 20px 0px 20px;
  box-shadow: 0px 8px 0px $font-color;
  background-color: $main-color;

  @include media-breakpoint-only(xs) {
    padding: 0;
    width: 100%;
  }
}

.p_add {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 90%;
  padding-top: 30px;
  color: white;
}
