$main-color: #54BAB9;
$button_add: #38938A;
$font-color: #1D8A8A;
$completed: #4CAF50;
$urgent: #FF5252;
$error: #ff9191;
$important: #FFC107;
$later: #9C27B0;
$to-study: #26A7B8;
$color-placeholder: #858585;