$main-color: var(--backgroun-color-component);
$button_add: #38938a;
$font-color: #1d8a8a;
$completed: #4caf50;
$urgent: #ff5252;
$error: #ff9191;
$important: #ffc107;
$later: #9c27b0;
$to-study: #26a7b8;
$color-placeholder: #858585;
