@import 'styles/color.scss';

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  box-shadow: 0px 8px 0px $font-color;
  background-color: $main-color;

  .task {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: $font-color;
  }
}
