@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;

  @include media-breakpoint-only(xs) {
    margin-top: 50px;
  }

  .btn {
    border: none;
    background: transparent;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px;
    color: $font-color;
    cursor: pointer;

    @include media-breakpoint-only(xs) {
      font-size: 10px;
    }
  }

  .btn_active {
    border: none;
    background: transparent;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px;
    color: white;
    cursor: pointer;

    @include media-breakpoint-only(xs) {
      font-size: 10px;
    }
  }
}
