@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;

  @include media-breakpoint-only(xs) {
    align-items: inherit;
  }
}

.wrapper_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;

    @include media-breakpoint-only(xs) {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid white;

  @include media-breakpoint-only(xs) {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}

.label_checked {
  cursor: pointer;
  background-color: $completed;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &::after {
    content: '';
    width: 13px;
    height: 8px;
    display: inline-block;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 2px;
    transform: rotate(135deg);
    position: relative;
    top: 0px;
    left: 7px;
    margin-right: 10px;
  }

  @include media-breakpoint-only(xs) {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}
