@import 'styles/color.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.wrapper_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
  }
}

.label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid white;
}

.label_checked {
  cursor: pointer;
  background-color: $completed;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &::after {
    content: '';
    width: 13px;
    height: 8px;
    display: inline-block;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 2px;
    transform: rotate(135deg);
    position: relative;
    top: 0px;
    left: 7px;
    margin-right: 10px;
  }
}

.checkbox[checked] + .label {
  background-color: $completed;
  border: none;

  &::after {
    content: '';
    width: 13px;
    height: 8px;
    display: inline-block;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 2px;
    transform: rotate(135deg);
    position: relative;
    top: 0px;
    left: 7px;
    margin-right: 10px;
  }
}

.checkbox {
  display: none;
}

.div_stated {
  border-radius: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  padding: 5px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  width: 150px;
}
.div_stated[data-state='Completed'] {
  background-color: $completed;
}
.div_stated[data-state='Urgent'] {
  background-color: $urgent;
}
.div_stated[data-state='Important'] {
  background-color: $important;
}
.div_stated[data-state='Later'] {
  background-color: $later;
}
.div_stated[data-state='To study'] {
  background-color: $to-study;
}
