body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html[data-theme='dark'] {
  --background-color: #5D5F61;
  --font-color: #E1E3E6;
  --active-a: #FFDC01;
  --color-post: #B095FF;
  --border-post: #723FFF;
}

html[data-theme='light'] {
--background-color: white;
--font-color: black;
--active-a: #794efa;
--color-post: #f8baec;
--border-post: #FE78E3;
}

body {
background-color: var(--background-color);
color: var(--font-color);
transition: background-color 200ms linear;
}
